.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.dp__theme_light{
    .dp__input_wrap {
        .dp__pointer {
            border: 1px solid #009688;
        }
    }
}
.dp__input{
    border: 1px solid #009688
}